@using System.IO
@using System.Linq
@model IEnumerable<NETPhotoGallery.Models.BlobViewModel>
@*
	//----------------------------------------------------------------------------------
	// Copyright (c) Microsoft Corporation. All rights reserved.
	//
	// THIS CODE AND INFORMATION ARE PROVIDED "AS IS" WITHOUT WARRANTY OF ANY KIND,
	// EITHER EXPRESSED OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE IMPLIED WARRANTIES
	// OF MERCHANTABILITY AND/OR FITNESS FOR A PARTICULAR PURPOSE.
	//----------------------------------------------------------------------------------
	// The example companies, organizations, products, domain names,
	// e-mail addresses, logos, people, places, and events depicted
	// herein are fictitious.  No association with any real company,
	// organization, product, domain name, email address, logo, person,
	// places, or events is intended or should be inferred.
*@

@{
	ViewBag.Title = "Index";
}
@*Header Section*@

<div class="jumbotron">
	<h1>🪺 ImageNest</h1>
	<h5>The best place for your images</h5>
</div>

@*Select Files and Upload: Displays a 'Select Files' button that uses a File Upload control to select files to be uploaded and
	calls the JS function: DisplayFilesToUpload() that lists the file name and size for all files to be uploaded.
	Also the JS function displays the Upload submit button that calls UploadAsync that uploads the files to Azure Blob Storage.*@
@using (Html.BeginForm("UploadAsync", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
	<div class="fileUpload btn btn-primary">
		<span>Select Files</span><input type="file" id="file" name="selectFiles" class="upload" onchange="DisplayFilesToUpload()" multiple />
	</div>
	@* This gets populated from the DisplayFilesToUpload() JS function*@
	<p id="FilesToUpload"></p>
}

@*loops through all files and displays three items:
	- The Image (159x159) - [Set in .thumb css class]
	- A delete icon (30X30) - [Set in .deleteDiv css class] (~/Images/deleteImage.png) that calls deleteImage JS function
	- A DeleteAll button if there are any items that calls the DeleteAll controller Action*@
@if (Model != null && Model.Any())
{
	foreach (var item in Model)
	{
		var imageId = Uri.UnescapeDataString(item.Uri.Segments.Last());
		<div class="imageBlock">
			<a href="@item.Uri" target="_blank"><img class="thumb" src="@item.Uri" alt="images" /></a><br />
			<div class="imageActions">
				<button class="btn btn-link like-button" onclick="likeImage('@imageId', this)">
					👍 <span class="like-count">@item.Likes</span>
				</button>
				<div class="deleteDiv">
					<img class="deleteIcon" src="~/Images/deleteImage.png" title="Delete Image" onclick="deleteImage('@item.Uri');" />
				</div>
			</div>
		</div>
	}

	using (Html.BeginForm("DeleteAll", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
	{
		<div class="fileUpload btn btn-danger"><span>Delete All Files</span><input type="submit" name="deleteAll" class="upload" /></div>
	}
}
<script>
    function deleteImage(item) {
        var url = "/Home/DeleteImage";
        $.post(url, { FileUri: item }, function (data) {
            window.location.href = "/Home/Index";
        });
    }

    function DisplayFilesToUpload() {
        var element = document.getElementById("file");
        var html = "";

        html = "<h3>Image(s) to Upload</h3>"
        for (var i = 0; i < element.files.length; i++) {
            html += "<strong>" + (i + 1) + "</strong>. File: ";
            var file = element.files[i];
            if ('name' in file) {html += file.name + " (";}
            if ('size' in file) {html += "size: " + file.size + " bytes)<br>";}
        }

		html += "<div class='fileUpload btn btn-primary'><span>Upload</span><input type='submit' class='upload' value='Upload'/></div>"
        document.getElementById("FilesToUpload").innerHTML = html;
    }

    function likeImage(imageId, button) {
        $.post("/Home/LikeImage", { imageId: imageId }, function (data) {
            if (data.success) {
                $(button).find('.like-count').text(data.likes);
            }
        });
    }
</script>
